.c-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    position: relative;
}

.c-content__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.c-content__title {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    margin-bottom: 6rem;
}

.c-content__social-net {
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-content__social-item {
    margin: 1rem;
}
.c-content__social-item:first-child {
    margin-left: 0;
}


@media(min-width: 1024px) {
    .c-content {
        align-items: flex-start;
        justify-content: center;
    }
    .c-content__wrapper {
        display: flex;
        align-items: flex-start;
    }
    .c-content__title {
        width: 550px;
        font-size: 2.9rem;
        line-height: 5rem;
        font-weight: 700;
        text-align: left;
    }
    .c-content__social-net {
        margin-top: 2rem;
        align-items: flex-start;
    }
}