.c-illustration {
    display: none;
}

@media(min-width: 1024px) {
    .c-illustration {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
    }
}